type project
id Bolero.HotReload
projectUrl https://github.com/fsbolero/Templating.HotReload
repositoryUrl https://github.com/fsbolero/Templating.HotReload
repositoryType git
description
    Client-side component of the HTML template hot reloading for Bolero: a set of tools and libraries to run F# applications in WebAssembly using Blazor
authors
    Loic Denuziere
include-referenced-projects true
interproject-references fix
excludeddependencies
    nerdbank.gitversioning
