source https://api.nuget.org/v3/index.json
source https://ci.appveyor.com/nuget/bolero
storage: none
framework: auto-detect
lowest_matching: true

# Project references
nuget FSharp.Core >= 4.7.0
nuget Bolero prerelease lowest_matching: false
nuget Bolero.Server prerelease lowest_matching: false
nuget HtmlAgilityPack >= 1.8.0
nuget Microsoft.AspNetCore.Components.Web ~> 3.1.0
nuget Microsoft.AspNetCore.Blazor.Build 3.1-preview4.19579.2
nuget Microsoft.AspNetCore.Blazor.Server 3.1-preview4.19579.2
nuget Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation ~> 3.1.0
nuget TaskBuilder.fs >= 2.1.0
nuget System.Runtime.CompilerServices.Unsafe ~> 4.7.0
nuget BlazorSignalR >= 0.12.0-blazor-3.1.0-preview3.19555.2 prerelease

# Build and test references
github fsbolero/bolero tools/Utility.fsx
github fsbolero/bolero src/Bolero.Templating.Provider/Path.fs
github fsbolero/bolero src/Bolero.Templating.Provider/Parsing.fs
nuget Nerdbank.GitVersioning copy_local: true, lowest_matching: false

group fake
source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.Cli
nuget Fake.DotNet.Paket
nuget FSharp.Data ~> 3.0-beta
