source https://api.nuget.org/v3/index.json
source https://ci.appveyor.com/nuget/bolero
storage: none
framework: auto-detect

# Project references
nuget FSharp.Core >= 4.7 lowest_matching: true
nuget Bolero
nuget Bolero.Server
nuget Microsoft.AspNetCore.Components.WebAssembly.Build
nuget Microsoft.AspNetCore.Components.WebAssembly.Server
nuget Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation
nuget Microsoft.AspNetCore.SignalR.Client >= 3.1.0
nuget HtmlAgilityPack >= 1.8.0

# Build and test references
github fsbolero/bolero tools/Utility.fsx
github fsbolero/bolero src/Bolero.Templating.Provider/Path.fs
github fsbolero/bolero src/Bolero.Templating.Provider/Parsing.fs
nuget Nerdbank.GitVersioning copy_local: true

group fake
source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.Cli
nuget Fake.DotNet.Paket
nuget FSharp.Data ~> 3.0-beta
