version 5.203.2
source https://api.nuget.org/v3/index.json
source https://ci.appveyor.com/nuget/bolero
storage: none
framework: netstandard2.0, netcoreapp3.0

# Project references
nuget FSharp.Core >= 4.5.2 lowest_matching: true
nuget Bolero prerelease
nuget Bolero.Server prerelease
nuget HtmlAgilityPack >= 1.8.0 lowest_matching: true
nuget Blazor.Extensions.SignalR >= 0.2 lowest_matching: true
nuget Microsoft.AspNetCore.Blazor.Build 3.0.0-preview7.19365.7 preview7
nuget Microsoft.AspNetCore.Blazor.Server 3.0.0-preview7.19365.7 preview7
nuget TaskBuilder.fs >= 2.1.0 lowest_matching: true
nuget System.Runtime.CompilerServices.Unsafe prerelease

# Build and test references
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs
github fsbolero/bolero tools/Utility.fsx
github fsbolero/bolero src/Bolero.Templating.Provider/Path.fs
github fsbolero/bolero src/Bolero.Templating.Provider/Parsing.fs
nuget Nerdbank.GitVersioning copy_local: true

group fake
source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0

nuget FSharp.Core ~> 4.5.0
nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.Cli
nuget Fake.DotNet.Paket
nuget FSharp.Data ~> 3.0-beta
